.ap_show {
    .show_back {
        .button_back {
            background-color: $dark_org;
            border: none;
            outline: none;
            height: 50px;
            border-radius: 50px;
            color: $blk;

            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
                transform: rotateY(180deg);
            }
        }

        .resp_back {
            display: none;
        }
    }
    

    .show_edit {
        .edit_btn {
            padding: 8px 10px;
            font-size: 18px;
            text-align: center;
            border: none;
            border-radius: 50px;
            background-color: $red_org;
            box-shadow: 0px 2px 3px #1e1e22;
        }
    }

    // .visible_box_middle {
    //     display: none;
    // }

    // STATISTICHE

    // .stats {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     height: 100%;
    //     position: relative;
    // }

    // .progress-ring {
    // }

    .progress-ring__circle {
        transition: 0.35s stroke-dashoffset;
        // axis compensation
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }

    // .statsinput {
    //     font-size: 18;
    //     color: white;
    //     background-color: transparent;
    //     top: 10px;
    //     left: 10px;
    //     width: 80px;
    // }
    @media screen and (max-width:575px) {
        .show_h1 {
            font-size: 35px;
        }
        
        .show_back {
            .ec_back {
                display: none;
            }
        
            .resp_back {
                display: block;
        
                button {
                    text-align: center;
                    box-shadow: 0px 3px 1px #252529;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                }
        
            }
        }

        .stat_text {
            font-size: 16px;
        }
    }

    @media screen and (min-width: 576px) and (max-width: 991px) {
        // .ap_show {
            .show_h1 {
                font-size: 40px;
            }

            .show_back {    
                .ec_back {
                    display: none;
                }

                .resp_back {
                    display: block;

                    button {
                        text-align: center;
                        box-shadow: 0px 3px 1px #252529;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                    }
                    
                }
            }

            // .show_edit {
            //    display: flex;
            //    justify-content: center;
            // }

            // .show_visible_box_top {
            //     display: none;
            // }

            // .visible_box_middle {
            //     display: block;
            // }

            // .stat {
            //     background-color: gray;
            // }

            .stat_text {
                font-size: 16px;
            }
        // }
        
    }
}