.back_nav {
    z-index: 2000;

    .log_red:hover {
        color: #ff6332;
        transition: all 0.3s linear;
    }

    .flex_start {
        display: flex;
        justify-content: flex-start;
    }

    .log_a {
        color: $blk;

        &:hover {
            color: $blk;
        }
    }

    .log_b {
        color: $blk;
    
        &:hover {
            color: $red_org;
        }
    }

}