// NAVBAR
.back_nav {
    font-family: "Inter", sans-serif;

    .navbar-brand > svg {
        width: 120px;
        object-fit: 100%;
    }

    .log_red:hover {
        color: #ff6332;
        transition: all 0.3s linear;
    }

    .flex_start {
        display: flex;
        justify-content: flex-start;
    }
}

// INDEX
.back_ap {
    font-family: "Inter", sans-serif;

    .create_box {
        height: 40px;
        width: 400px;
        display: block;
        overflow: hidden;

        &:hover .create_slide {
            left: 50px;
        }

        .create_svg {
            z-index: 1;
            width: 40px;
            background-color: $blk;
        }

        .create_slide {
            position:relative;
            font-size: 18px;
            top: -35px;
            left: -280px;
            height: 40px;
            // background: red;
            transition: all linear 1s;
            z-index: -1;
        }
    }

    .bin_text:hover {
        opacity: 1;
    }

    .show_img {
        height: 350px;
    }

    .title_a:hover {
        color: white;
    }

    .visible_box_bottom {
        display: none;
    }

    // red button
    .dng_btn i {
        color: white;
        text-align: center;
        border: none;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: $red_org;
        transition: all .3s ease-in-out;
        box-shadow: 0px 0px 5px 1px #1e1e22;

        &:hover {
            color: $red_org;
            background-color: white;
            transition: all 0.3s ease-in-out;
        }
    }

    // edit button
    .edit_btn i {
        color: white;
        text-align: center;
        border: none;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: $dark_org;
        transition: all .3s ease-in-out;
        box-shadow: 0px 0px 5px 1px #1e1e22;

        &:hover {
            color: $dark_org;
            background-color: white;
            transition: all 0.3s ease-in-out;
        }
    }

    // restore button
    .restore_btn i {
        color: white;
        text-align: center;
        border: none;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: rgb(66, 173, 66);
        transition: all .3s ease-in-out;
        box-shadow: 0px 0px 5px 1px rgb(23, 23, 26);
    
        &:hover {
            color: rgb(66, 173, 66);
            background-color: white;
            transition: all 0.3s ease-in-out;
        }
    }

    .tags_container {
        img {
            width: 45px;
            opacity: .5;
            margin: 5px 0;
        }

        div {
            display: none;
        }
    }
}

// SHOW
.ap_show {
    .button_back {
        background-color: $dark_org;
        border: none;
        outline: none;
        height: 50px;
        border-radius: 50px;
        color: #fff;

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            transform: rotateY(180deg);
        }
    }

    .edit_btn i {
        color: white;
        text-align: center;
        border: none;
        height: 35px;
        width: 35px;
        line-height: 35px;
        border-radius: 50%;
        background-color: $dark_org;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $dark_org;
            background-color: white;
            transition: all 0.3s ease-in-out;
        }
    }

    .card {
        background-color: #292f33;

        h2 {
            color: rgb(219, 219, 219);
        }

        .edit_container {
            top: 15px;
            right: 30px;
        }
    }
    .messages_box {
        color: #fff;
    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
    }

    /* .progress-ring {
    } */

    .progress-ring__circle {
        transition: 0.35s stroke-dashoffset;
        // axis compensation
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }

    .statsinput {
        font-size: 15;
        color: white;
        background-color: transparent;
        top: 10px;
        left: 10px;
        width: 80px;
    }
}

// CREATE

.ap_create_edit {
    .form_container {
        border-radius: 20px;

        .cerchietti {
            top: -20px;
            left: 50px;

            div {
                height: 40px;
                width: 40px;
                margin: 0 5px;
            }
        }
    }

    .buttons_box {
        border-radius: 0 0 20px 20px;

        button,
        a {
            color: white;
            font-size: 18px;
            border: none;
            outline: none;
            height: 50px;
            border-radius: 50px;
        }

        .save,
        .undo {
            box-shadow: 2px 2px 2px 2px #94a3ac;
        }

        .save:hover {
            color: #fac8d1;
        }

        .undo a:hover {
            color: #ffbca8;
        }
    }
}

// MEDIA QUERY
@media screen and (max-width:575px) {

    .back_ap {

        h1 {
            font-size: 35px;
        }

        .show_img {
            height: 200px;
        }
        
        .ap_title {
            h2 {
                font-size: 26px;
            }
        }

        .ap_address {
            font-size: 14px;
        }
        
        .ap_body {
            position: relative;
        }
        
        .i_buttons .edit_btn>i,
        .i_buttons .dng_btn>i,
        .i_buttons .restore_btn {
            height: 45px;
            width: 45px;
            font-size: 16px;
            line-height: 45px;
            position: absolute;
            box-shadow: 0px 4px 1px #2f2f33;
        }
        
        .edit_btn>i {
            top: -190px;
            right: 12px;
        }
        
        .restore_btn {
            top: -190px;
            right: 12px;
        }
        
        .dng_btn>i {
            top: -135px;
            right: 12px;
        }

        .pd,
        .ap_info {
            display: none;
        }

        .create_slide {
            display: none;
        }
        
        .bin_text {
            display: none;
        }
        
        .visible_box_top {
            display: none;
        }
        
        .visible_box_bottom {
            display: block;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {

    .back_ap {

        h1 {
            font-size: 40px;
        }

        .create_slide {
            display: none;
        }

        .show_img {
            height: 300px;
        }
        
        .ap_body {
            position: relative;
        }
        
        .i_buttons .edit_btn>i,
        .i_buttons .dng_btn>i,
        .i_buttons .restore_btn {
            height: 45px;
            width: 45px;
            font-size: 16px;
            line-height: 45px;
            position: absolute;
            box-shadow: 0px 4px 1px #2f2f33;
        }
        
        .edit_btn>i {
            top: -290px;
            right: 12px;
        }
        
        .restore_btn {
            top: -290px;
            right: 12px;
        }
        
        .dng_btn>i {
            top: -235px;
            right: 12px;
        }

        .tags_container {
            img {
                display: none;
            }
        
            div {
                display: block;
            }
        }

        .bin_text {
            display: none;
        }

        .visible_box_top {
            display: none;
        }

        .visible_box_bottom {
            display: block;
        }
    }
}

// @media screen and (min-width: 768px) and (max-width: 991px) {

//     .back_ap {
//         .show_img {
//             height: 300px;
//         }

//         .ap_body {
//             position: relative;
//         }

//         .i_buttons .edit_btn>i,
//         .i_buttons .dng_btn>i,
//         .i_buttons .restore_btn {
//             height: 45px;
//             width: 45px;
//             font-size: 16px;
//             line-height: 45px;
//             position: absolute;
//             box-shadow: 0px 4px 1px #2f2f33;
//         }

//         .edit_btn>i {
//             top: -290px;
//             right: 12px;
//         }

//         .restore_btn {
//             top: -290px;
//             right: 12px;
//         }

//         .dng_btn>i {
//             top: -235px;
//             right: 12px;
//         }

        
//     }

// }
