// NAVBAR
.back_nav {
    font-family: 'Inter', sans-serif;

    .navbar-brand>svg {
        width: 120px;
        object-fit: 100%;
    }

    .log_red:hover {
        color: #FF6332;
        transition: all .3s linear;
    }

    .flex_start {
        display: flex;
        justify-content: flex-start;
    }
}

// INDEX
.back_ap {
    font-family: 'Inter', sans-serif;

    .create_box {
        height:40px;
        width:400px;
        display:block;
        overflow:hidden;
        
        &:hover .create_slide {
            left: 50px;
        }

        .create_svg {
            z-index: 1;
            width: 40px;
            background-color: $blk;
        }

        .create_slide {
            position:relative;
            top: -32px;
            left: -280px;
            height: 40px;
            // background: red;
            transition: all linear 1s;
            z-index: -1;
        }
    }

    .show_img {
        height: 350px;
    }

    .title_a:hover {
        color: white;
    }

    // red button
    .dng_btn i {
        color: white;
        text-align: center;
        border: none;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: $red_org;
        transition: all .3s ease-in-out;

        &:hover {
            color: $red_org;
            background-color: white;
            transition: all .3s ease-in-out;
        }
    }

    // edit button
    .edit_btn i {
        color: white;
        text-align: center;
        border: none;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: $dark_org;
        transition: all .3s ease-in-out;

        &:hover {
            color: $dark_org;
            background-color: white;
            transition: all .3s ease-in-out;
        }
    }

    // restore button
    .restore_btn i {
        color: white;
        text-align: center;
        border: none;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: rgb(66, 173, 66);
        transition: all .3s ease-in-out;
    
        &:hover {
            color: rgb(66, 173, 66);
            background-color: white;
            transition: all .3s ease-in-out;
        }
    }

    .tags_container > img {
        width: 45px;
        opacity: .5;
        margin: 5px 0;
    }
}

// SHOW
.ap_show {
    .button_back {
        background-color: $dark_org;
        border: none;
        outline: none;
        height: 50px;
        border-radius: 50px;
        color: #fff;

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            transform: rotateY(180deg);
        }
    } 

    .edit_btn i {
        color: white;
        text-align: center;
        border: none;
        height: 35px;
        width: 35px;
        line-height: 35px;
        border-radius: 50%;
        background-color: $dark_org;
        transition: all .3s ease-in-out;
    
        &:hover {
            color: $dark_org;
            background-color: white;
            transition: all .3s ease-in-out;
        }
    }

    .card {
        background-color: #292f33;

        h2 {
            color: rgb(219, 219, 219);
        }

        .edit_container {
            top: 15px;
            right: 30px;
        }
    }
}

// CREATE

.ap_create_edit {
    .form_container {
        border-radius: 20px;

        .cerchietti {
            top: -20px;
            right: 50px;

            div {
                height: 40px;
                width: 40px;
                margin: 0 5px;
            }
        }
    }

    .buttons_box {
        border-radius: 0 0 20px 20px;

        button, a {
            color:white;
            font-size: 18px;
            border: none;
            outline: none;
            height: 50px;
            border-radius: 50px;
        }

        .save, .undo {
            box-shadow: 2px 2px 2px 2px #94a3ac;
        }

        .save:hover {
            color: #fac8d1;
        }

        .undo a:hover {
            color: #ffbca8;
        }
    }
}


// MEDIA QUERY
@media screen and (max-width: 575px) {

    .back_ap {

        .tags_container>img {
            width: 36px;
        }
    }
}

@media screen and (max-width: 767px) {

    .back_ap {

        .tags_container>img {
            width: 36px;
        }
    }
}

@media screen and (max-width: 991px) {

    .back_ap {
        .show_img {
            height: 200px;
        }

        .ap_body {
            position: relative;
        }

        .i_buttons .edit_btn>i,
        .i_buttons .dng_btn>i,
        .i_buttons .restore_btn {
            height: 42px;
            width: 42px;
            font-size: 16px;
            line-height: 42px;
            position: absolute;
        }

        .edit_btn>i {
            top: -190px;
            right: 10px;
        }

        .restore_btn {
            top: -190px;
            right: 10px;
        }

        .dng_btn>i {
            top: -140px;
            right: 10px;
        }

        
    }

}