// triangolo animato dx
.triangle{
    z-index: 1100;
      position: fixed;
      top: 0;
      right: 0;
      transform: rotate(180deg);
      width: 50%;
      height: 30%;
      clip-path: polygon(0 0, 100% 100%, 0 100%);
  }

  .triangle {
    animation: animateBg 10s infinite alternate;
    background:
        radial-gradient(circle at 50% 0,
          rgb(255, 0, 81),
          rgba(255,0,0,0) 70.71%),
        radial-gradient(circle at 6.7% 75%,
          rgb(255, 247, 0),
          rgba(0,0,255,0) 40%),
          radial-gradient(circle at 93.3% 75%,
          rgb(255, 238, 0),
          rgba(0,255,0,0) 40%) #ffc800;
         background-size: 300% 100%;
  }
  
  @keyframes animateBg {
    0% { background-position: 0% 0%; }
     25% { background-position: 100% 20%; }
     50% { background-position: 40% 100%; }
     75% { background-position: 90% 20%; }
    100% { background-position: 20% 90%; }
  }

  .triangle2 {
    z-index: 1100;
      position: fixed;
      top: 0;
      right: 0;
      transform: rotate(180deg);
    width: 50%;
    height: 30%;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    opacity: 0.7;
  }

  .triangle2 {
    animation: animateBg2 14s infinite alternate;
    background:
        radial-gradient(circle at 50% 0,
          rgb(255, 221, 0),
          rgba(255,0,0,0) 40%),   
        radial-gradient(circle at 6.7% 75%,
          rgb(255, 0, 68),
          rgba(0,0,255,0) 70.71%);
         background-size: 300% 100%;
  }
  
  @keyframes animateBg2 {
    0% { background-position: 0% 0%; }
     50% { background-position: 100% 20%; }
    100% { background-position: 20% 90%; }
  }

//   banner nero per bottone "vai agli alloggi"
  .blackbanner {
    background-color: $blk;
    width: 100%;
    height: 100px;
    margin-top: 108.91px;
    z-index: 1098;
   }

//   container Carousel and Ispirations
.title_back{
    max-width: 680px;
    margin: 0 auto;
    h1{
    position: relative;
    font-size: 80px;
    font-weight: 700;
        .title_front {
            font-size: 38px;
            font-weight: 500;
            padding-left: 30px;
            position:absolute;
            top: 20px;
            color: #fff;
        }
    }
}
.ispirations {
    padding: 0 80px;
}

.custom_carousel {
    border-radius: 25px;
    overflow: hidden;
    width: 500px;
        height: 450px;
    .custom_slide { 
        border-radius: 25px; 
        overflow: hidden;
        img {
            height: 100%;
            position: relative;
        }
        .custom_text_carousel{
            padding: 35px 0;
            background-color: #fff;
            border-radius: 25px;
            box-shadow: 0 0 15px 5px rgb(0 0 0 / 60%);
            position: absolute;
            top: 280px;
            right: 0;
            left: 0;
            width: 100%;
            height: 200px;
        }
    }
}
.box-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: auto;
    height: 520px;
    .arrow {
        font-size: 50px;
        color: #fff;
        cursor: pointer;
        }
        .slider_container{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 500px;
            height: 500px;
            border-radius: 50px;
            box-shadow: 0 0 10px 0 rgb(0, 0, 0);
            .slider_img {        
                height: 80%;
                object-fit: cover;
                transform: translate(0, -35%);
            }
            .slider_text {
                background-color: #fff;
                font-size: 15px;
                height: 200px;
                padding: 20px;
                width: 100%;
                position: absolute;
                bottom: 0;        
            }
            .dot-space {
                margin: 0 5px;
                cursor: pointer; 
                }
                
                .dot-position {
                font-size: 12px;
                position: absolute;
                bottom: 10px;
                }
        }
}



.active {
color: $red_org;
transform: scale(1.2);
}

.disable {
color: #333;
}


// banner
.custom_cont_fluid{
    position: relative;
    padding: 0 !important;
    height: 500px;
    width: 100%;
    overflow: hidden;
    background: url("/img/img-banner.png") no-repeat bottom;
    background-size: cover;
    .banner_text {
        width: 70%;
        position:absolute;
        left: 60px;
        h2 {
            font-size: 80px;
            line-height: 75px;
            font-weight: 800;
        }
        .button_banner {
            background-color: $red_org;
            border: none;
            outline: none;
            height: 50px;
            border-radius: 50px;
            color: #fff;
            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}

.city {
    position: relative;
    .city_badge {
        position: absolute;
        right: 10px;
        bottom: 10px;
        transform: rotate(-35deg);
        font-size: 20px;
        padding: 10px;
    }
}

@media screen and (max-width: 575px) {
    .triangle {
        display: none;
    }
      
    .triangle2 {
        display: none;
    }

    .custom_container{
        .title_back{
            max-width: 500px;
            margin: 0 auto;
            h1{
            position: relative;
            font-size: 40px;
            font-weight: 500;
            color: #fff;
                .title_front {
                    display: none;
                }
            }
        } 
    }
    .custom_cont_fluid{
        justify-content: center;
        .banner_text {
            h2 {
                font-size: 60px;
                line-height: 75px;
                font-weight: 800;
            }
        }
    }
}




@media screen and (min-width: 576px) and (max-width: 1199px) {
    .custom_container{
        .title_back{
            max-width: 500px;
            margin: 0 auto;
            h1{
            position: relative;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
                .title_front {
                    display: none;
                }
            }
        } 
    }
}
