.navbar-brand img{
    width: 120px;
    object-fit: 100%;
}
@keyframes slide-right{0%{transform:translateY(0)}to{transform:translateY(-2px)}};
@keyframes happy{0%{stroke-dashoffset:0}to{stroke-dashoffset:200}};
@keyframes lock{0%{transform:translateY(-2px)}to{transform:translateY(0)}};

.custom_nav{
    background-color: #fff;
    color: $blk;
    width: 100%;
    .custom_link{
        margin-bottom: 0;
        padding-left: 0;
        li{
            list-style: none;
            padding-left: 10px;
            a {
                text-decoration: none;
            }
        }
    }
}

//   searchbar
.black_banner {
background-color: $blk;
width: 100%;
height: 100px;
margin-top: 108.91px;
z-index: 1098;
    // box autocompletamento searchbar
    .box {
        position: absolute;
        top: 82px;
        background-color: #fff;
        color: $blk;
        width: 280px;
        border-radius: 25px;
        .my-autocomplete {
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 56, 96, 0.4);
            border-radius: 15px;
        }
        }
    }
    .search_container {
        input {
            width: 200px;
            height: 50px;
            border-radius: 50px;
            background-color: #fff;
            outline: none;
            border: none;
        }
        .button_search_bar {
            color: #fff;
            background-color: $red_org;
            border-radius: 50%;
            border: none;
            width: 50px;
            height: 50px;
            i {
            line-height: 50px;
            }
        }
    }
}




.nav_text {
    color: $blk;
    &:hover{
        font-weight: 600;
        color: $blk;
    }
}

.nav_icon {
    display: none;
    &:hover {
        color: $blk;
    }
    .icon {
        font-size: 28px;
        padding-top: 10px;
    }
}

// .dropdown_color{
//     background-color: #111;
//     color: #fff;
// }


@media screen and (max-width: 575px) {
    .navbar_brand {
        display: block;
    }
    // .custom_nav {
    //     height: 250px;
    // }
    .nav_text {
        display: none;
    }
    .nav_icon {
        display: block;
        color: $blk;
        .nav_icon_text{
            font-size: 12px;
            margin-bottom: 0;
        }
          
    }
      
}

@media screen and (min-width: 576px) and (max-width: 1199px) {
    // .custom_nav {
    //     height: 150px;
    // }

    .nav_text {
        display: none;
    }
    .nav_icon {
        display: block;
        color: $blk;
        .nav_icon_text{
            font-size: 12px;
            margin-bottom: 0;
        }
}}