.custom_container {
    .title_back{
        max-width: 680px;
        margin: 0 auto;
        h1{
        position: relative;
        font-size: 80px;
        font-weight: 700;
            .title_front {
                font-size: 38px;
                font-weight: 500;
                padding-left: 30px;
                position:absolute;
                top: 20px;
                color: #fff;
            }
        }
    }
}
