@keyframes slide{0%{transform:translateX(0)}to{transform:translateX(10px)}};
@keyframes slide-2{0%{transform:translateX(0)}to{transform:translateX(-10px)}};

.filter_button {
    color: #fff;
    background-color: $dark_org;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
}

.background_row {
    height: 100vh;
    overflow-y: auto;
    margin-top: 150px;
    background-color: #111;
    .flat {
        background-color: #fff;
        border-radius: 25px;
        height: 250px;
        .flat_cover {
            min-width: 300px;
            height: 100%;
            overflow: hidden;
            border-radius: 25px;
            img{
                height: 100%;
                // object-fit: cover;
                transform: scale(1.5);
            }
        }
        .flat_info {
            padding: 20px;
            width: 100%;
            // max-width: 600px;
            // box-shadow: 0 0 15px 5px rgb(0 0 0 / 60%);
        }
        .tags_class {
            font-size: 10px;
        }
    }
}
.background_row_right {
    height: 100vh;
    overflow-y: hidden;
    margin-top: 150px;
    .mappa {
            position: fixed;
            width: 100%;
            object-fit: cover;
            position: relative;
            top: 0;
            border-radius: 25px;
    }
}