.circle {
    border-radius:50%;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 1200;
    &::before {
        content: "";
        border-radius:50%;
        position: absolute;
        width: 60px;
        height: 60px;
        position: fixed;
        top: 100px;
        right: 100px;
        z-index: 1210;
        transform: translateX(-50px);
        animation: animateBg3 10s infinite alternate;
        background:
        radial-gradient(circle at 50% 0,
            rgb(255, 0, 81),
            rgba(255,0,0,0) 70.71%),
        radial-gradient(circle at 6.7% 75%,
            rgb(255, 247, 0),
            rgba(0,0,255,0) 40%),
            radial-gradient(circle at 93.3% 75%,
            rgb(255, 238, 0),
            rgba(0,255,0,0) 40%) #ffc800;
        background-size: 300% 100%;
    }
    &::after {
        content: "";
        border-radius:50%;
        position: absolute;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 100px;
        right: 50px;
        z-index: 1210;
        transform: translateY(50px);
        animation: animateBg3 10s infinite alternate;
        background:
        radial-gradient(circle at 50% 0,
            rgb(255, 0, 81),
            rgba(255,0,0,0) 70.71%),
        radial-gradient(circle at 6.7% 75%,
            rgb(255, 247, 0),
            rgba(0,0,255,0) 40%),
            radial-gradient(circle at 93.3% 75%,
            rgb(255, 238, 0),
            rgba(0,255,0,0) 40%) #ffc800;
        background-size: 300% 100%;
    }
}

.circle {
    animation: animateBg3 10s infinite alternate;
    background:
      radial-gradient(circle at 50% 0,
        rgb(255, 0, 81),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgb(255, 247, 0),
        rgba(0,0,255,0) 40%),
        radial-gradient(circle at 93.3% 75%,
        rgb(255, 238, 0),
        rgba(0,255,0,0) 40%) #ffc800;
    background-size: 300% 100%;
}

@keyframes animateBg3 {
    0% { background-position: 0% 0%; }
   25% { background-position: 100% 20%; }
   50% { background-position: 40% 100%; }
   75% { background-position: 90% 20%; }
  100% { background-position: 20% 90%; }
}

.circle2 {
    border-radius:50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1199;
}

.circle2 {
    animation: animateBg4 10s infinite alternate;
    background:
      radial-gradient(circle at 50% 0,
        rgb(255, 221, 0),
        rgba(255,0,0,0) 40%),
      radial-gradient(circle at 6.7% 75%,
        rgb(255, 0, 68),
        rgba(0,0,255,0) 70.71%);
    background-size: 300% 100%;
}

@keyframes animateBg4 {
  0% { background-position: 0% 0%; }
   50% { background-position: 100% 20%; }
  100% { background-position: 20% 90%; }
}

//   searchbar
.black_banner {
    background-color: $blk;
    width: 100%;
    padding: 30px 0;
    margin-top: 108.91px;
    z-index: 1098;
    // box autocompletamento searchbar
    .box {
        position: absolute;
        top: 82px;
        background-color: #fff;
        color: $blk;
        width: 280px;
        border-radius: 25px;
        .my-autocomplete {
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 56, 96, 0.4);
            border-radius: 15px;
        }
        }
    }
    .search_container {
        input {
            width: 200px;
            height: 50px;
            border-radius: 50px;
            background-color: #fff;
            outline: none;
            border: none;
        }
        .button_search_bar {
            color: #fff;
            background-color: $red_org;
            border-radius: 50%;
            border: none;
            width: 50px;
            height: 50px;
            i {
            line-height: 50px;
            }
        }
    }
}

// appartamenti
.flat_row {
    margin: 80px;
    .flat {
        border-radius: 15px;
        overflow: hidden;
        background-color: #fff;
        position: relative;
        .button_rel {
            width: 100%;
            position:absolute;
            bottom: 10px;  
        }
    } 
}

// classi filtri
.filter_button {
    color: #fff;
    background-color: $dark_org;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
}

.my-input-num {
    background-color: transparent;
    color: white;
    width: 65px;
    &:focus {
        outline: none;
    }
}
.km {
    margin-left: -25px;
}

.tags_class {
    width: 100%;
    img {
        width: 25px;
    }
}

.input_bar {
    border-radius: 25px;
    display:block;
}

.hide {
    display: none;
}

// clean button per i filtri
.clean {
    background-color: $dark_org;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    color: #fff;
}

// animazioni icone
@keyframes slide{0%{transform:translateX(0)}to{transform:translateX(10px)}};
@keyframes slide-2{0%{transform:translateX(0)}to{transform:translateX(-10px)}};

@keyframes blink-1{0%,50%,to{opacity:1}25%{opacity:0}};


@media screen and (max-width: 575px) {
    .flat_row {
        margin: 20px;
        .flat {
            border-radius: 15px;
            overflow: hidden;
            background-color: #fff;
            min-height: 400px;
        }
    }
}

@media screen and (max-width: 991px) {
    .back_ap {
        .show_img {
            height: 200px;
        }

        .ap_body {
            position: relative;
        }

        .i_buttons .edit_btn>i,
        .i_buttons .dng_btn>i,
        .i_buttons .restore_btn {
            height: 42px;
            width: 42px;
            font-size: 16px;
            line-height: 42px;
            position: absolute;
        }

        .edit_btn>i {
            top: -190px;
            right: 10px;
        }

        .restore_btn {
            top: -190px;
            right: 10px;
        }

        .dng_btn>i {
            top: -140px;
            right: 10px;
        }
    }
    .flat_row {
        margin: 40px;
        .flat {
            border-radius: 15px;
            overflow: hidden;
            background-color: #fff;
            min-height: 400px;
        }
    }

    .circle, .circle2 {
        display: none;
    }

    
}