// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Pages
@import "frontHome";
@import "frontNavbar";
@import "frontIndex";
@import "frontShow";
@import "frontLayout";

// Back scss
@import "/backLayout/backNav";
@import "/backLayout/backIndex";
@import "/backLayout/backShow";
@import "/backLayout/backEditCreate";
@import "/backLayout/register";
@import "/backLayout/login";

// UTILITIES

a,
button {
  text-decoration: none;
}

.button_back,
.button_forward {
  padding: 8px 10px;
  background-color: $dark_org;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  &:hover {
    color: #fff;
  }
}

.button_back{
  background-color: $dark_org;
  img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    transform: rotateY(180deg);
  }
}

.button_forward {
  background-color: $red_org;
  img {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }
}


li {
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

// MARGINS - PADDINGS
.mt_50 {
  margin-top: 50px;
}

.mt_80 {
  margin-top: 80px;
}

.mt_100 {
  margin-top: 100px;
}

.mt_150 {
  margin-top: 150px;
}

.mb_200 {
  margin-bottom: 200px;
}

.my_190_280 {
  margin: 190px 0 280px 0;
}

.p_80 {
  padding: 80px;
}

.py_50 {
  padding: 50px 0;
}

.py_100 {
  padding: 100px 0;
}

// OPACITY

.op {
  opacity: .4;
}

.op_7 {
  opacity: .7;
}

.op_9 {
  opacity: .9;
}

// BG COLORS

.blk_bg {
  background-color: $blk;
}

.blk_op_bg {
  background-color: #292f33;
}

.pink_custom {
  background-color: $red_org;
}

.orange_custom {
  background-color: $dark_org
}

.ocra_custom {
  background-color: $ocra;
}

.transparent_bg {
  background-color: transparent;
}

// FONT COLORS

.blk_font {
  color: $blk;
}

.white_font {
  color: rgb(219, 219, 219);
}

.pink_font {
  color: $red_org;
}

.orange_font {
  color: $dark_org
}

.green_font {
  color: rgb(66, 173, 66);
}

// FONT SIZES

.f_12 {
  font-size: 12px;
}

.f_18 {
  font-size: 18px;
}

.f_35 {
  font-size: 35px;
}

.f_45 {
  font-size: 45px;
}

// WIDTH - HEIGHT

.max_450 {
  max-width: 450px;
}

.w_100 {
  width: 100px;
}

.w_250 {
  width: 250px;
}

.w_300 {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.w_416 {
  width: 416px;
}

.w_500 {
  width: 450px;
}

.w_600 {
  width: 600px;
}

.maxh_220 {
  max-height: 220px;
}

.minh_460 {
  min-height: calc(100vh - 460px);
}

.h_100 {
  height: 100px;
}

.h_150 {
  height: 150px;
}

.h_120 {
  height: 150px;
}

// BORDERS
.bb_gray {
  border-bottom: 1px solid gray;
}

// OBJ FIT

.obj_fit {
  object-fit: cover;
}

.obj_fit_contain {
  object-fit: contain;
}

// SHADOW
// .g_shadow {
//   box-shadow: 1px 1px 4px 1px #62626e;
// }

// DIV SUGGESTION

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }