// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Pages
@import "home";
@import "navbar";

// Back scss
@import "backLayout";

// UTILITIES

a,
button {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.op {
  opacity: .4;
}

.blk_bg {
  background-color: $blk;
}

.blk_font {
  color: $blk;
}

.blk_op_bg {
  background-color: hsla(207, 10%, 21%, 0.219);
}

.f_12 {
  font-size: 12px;
}

.max_450 {
  max-width: 450px;
}

.w_300 {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.h_100 {
  height: 100px;
}

// DIV SUGGESTION

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }